@(product: models.Product, publishers: List[Publisher], categories: List[Category])

@main("Product"){
    @header()
    <form class="form-horizontal" @if(product!=null){action="@routes.Application.update(product.getId())"}else{action="@routes.Application.update()"} method="post" role="form">
        <div class="form-group">
            <label class="col-md-3 control-label">Game name: *</label>
            <div class="col-md-8">
                <input class="form-control" type="text" name="name" @if(product!=null){value="@product.getName()"}>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Game Description: *</label>
            <div class="col-md-8">
                <textarea rows="12" cols="50" class="form-control" type="text" name="description">@if(product!=null){@product.getDescription()} </textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Game Price: *</label>
            <div class="col-md-8">
                <input class="form-control decimal" type="text" @if(product!=null){value="@product.getPrice()"} name="price">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Game Version:</label>
            <div class="col-md-8">
                <input class="form-control" type="text" @if(product!=null){value="@product.getPlatform()"} name="platform">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Amount in stock:</label>
            <div class="col-md-8">
                <input class="form-control" type="number" @if(product!=null){value="@product.getAmount()"} name="amount">
            </div>
        </div>
        <div class="form-group">
            <label for="sel1">Choose category*:</label>
            <select class="form-control selecto" id="sel1" name="category">
                @if(product!=null){
                    <option value="@product.getCategory().getId()">@product.getCategory().getName()</option>
                }else{
                    <option value="0"> </option>
                }
                @for(c <- categories){
                    @if(product!=null){@if(c.getId() == product.getCategory().getId()){continue;}}
                        <option value="@c.getId()">@c.getName()</option>
                }
            </select>
        </div>
        <div class="form-group">
            <label for="sel2">Choose publisher*:</label>
            <select class="form-control selecto" id="sel2" name="publisher">
                @if(product!=null){
                    <option value="@product.getCategory().getId()">@product.getPublisher().getName()</option>
                }else{
                    <option value="0"> </option>
                }
                @for(p <- publishers){
                @if(product!=null){@if(p.getId() == product.getPublisher().getId()){continue}}
                    <option value="@p.getId()">@p.getName()</option>
                }
            </select>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-8">
                <input type="submit" class="btn btn-primary" value="Save Changes">
                <span></span>
                <input type="reset" class="btn btn-default" @if(product!=null){onclick="window.location.href='@routes.Application.show(product.getId())'}else{onclick="window.location.href='@routes.Application.showAll()'}"
                       value="Cancel">
            </div>
        </div>
    </form>
}