@(product: models.Product, publishers : models.Publisher, isManager : Boolean)

@main("Product Detail"){
@header()

	

<div>
<div class="col-md-4" style="height:inherit !important;">




	@if(product.getId == 1){
	
	<img src='@routes.Assets.at("images/fallout4.jpg")' class="img-responsive" alt="Responsive image">
	}@if(product.getId() == 2){
	<img src='@routes.Assets.at("images/uncharted4.jpg")' class="img-responsive" alt="Responsive image">
	}@if(product.getId() == 3){
	<img src='@routes.Assets.at("images/grandtheftauto4.png")' class="img-responsive" alt="Responsive image">
	}@if(product.getId() == 4){
	<img src='@routes.Assets.at("images/thedivision.jpg")' class="img-responsive" alt="Responsive image">
	}@if(product.getId() == 5){
	<img src='@routes.Assets.at("images/nba2k16.jpg")' class="img-responsive" alt="Responsive image">
	}@if(product.getId() == 6){
	<img src='@routes.Assets.at("images/farcryprimal.jpg")' class="img-responsive" alt="Responsive image">
	}@if(product.getId() > 6){
	<h2>Image Burned</h2>
	<img src='@routes.Assets.at("images/burned.gif")' class="img-responsive" alt="Responsive image">
	}
	
</div>
</div>
<div class="col-md-5">
<ul class="nav nav-tabs" style="font-size:large !important;">
  <li class="active"><a style="color:#38318F; font-weight:600;" href="#product" data-toggle="tab" aria-expanded="false">Product</a></li>
  <li class=""><a style="color:#38318F; font-weight:600;" href="#publisher" data-toggle="tab" aria-expanded="true">@publishers.getName()</a></li>
 
 
</ul>
<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade active in" id="product">
    <p style="font-size:large !important;">@product.getDescription()</p>
  </div>
  <div class="tab-pane fade  in" id="publisher">
    <p style="font-size:large !important;">@publishers.getCountry() : @publishers.getYearStarted()<br>
     @publishers.getPubDescription()</p>
  </div>
 
</div>
</div>

    <h1>@product.getName()</h1><br>
    	
       <h1>Price : @product.getPrice()</h1> <br>
        
        @if(product.getAmount() > 0 ){
        <button type="button" class="btn btn-primary btn-lg  btn-succecss">IN STOCK : @product.getAmount()</button>
        
        }else {<button type="button" class="btn  btn-primary btn-lg btn-danger">OUT OF STOCK</button>
        }
    </p>

    @if(isManager == true){
    <div class="row">
        <div class="col-md-12">
            <hr>
            <button class="btn btn-default pull-right"
                    onclick="window.location.href='@routes.Application.edit(product.getId())'"><i
                    class="glyphicon glyphicon-pencil"></i> Edit
            </button>
            <button class="btn btn-default pull-right"
                    onclick="window.location.href='@routes.Application.delete(product.getId())'"><i
                    class="glyphicon glyphicon-minus"></i> Delete
            </button>
        </div>
    </div>
    }



}
