@(products: List[Product], publishers: List[Publisher], categories: List[Category])

@main("Welcome Back")    {
@header()
<div>

    <div class="row margin-top">
        <div class="col-md-8 ">
            <div id="custom-search-input">
                <form action="@routes.Application.search()" method="get">
                    <div class="input-group col-md-12">

                        <input type="text" class="form-control input-lg" name="search" placeholder="Enter game name"/>
                        <span class="input-group-btn">
                            <button class="btn btn-info btn-lg" name="action" type="submit">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
            <br/>
            <input type="reset" class="btn btn-primary" onclick="window.location.href='@routes.Application.showAll()'"
                   value="Clear all filters and show all games in stock">
        </div>
        <div class="form-group">
            <label for="sel1">Sort By Name:</label>
            <select class="form-control selecto" id="sel1" onchange="sortName(value);">
                <option value="0"></option>
                <option value="1">A - Z</option>
                <option value="2">Z - A</option>
            </select>
        </div>
        <div class="form-group">
            <label for="sel2">Sort By Price:</label>
            <select class="form-control selecto" id="sel2" onchange="sortPrice(value);">
                <option value="0"></option>
                <option value="1">min - max</option>
                <option value="2">max - min</option>
            </select>
        </div>
    </div>
    <br/><br/>
</div>

<div class="container-fluid">
    <div class="row">
        <!-- filter sidebar -->
        <div id="filter-sidebar"
             class="col-xs-6 col-sm-3 visible-sm visible-md visible-lg collapse sliding-sidebar">

            <div>
                <div class="list-group-item main-color">
                    <h4> Categories </h4>
                </div>
                <div id="group-1" class="list-group collapse in">
                    @for(c<- categories){
                    <a class="list-group-item" href="@routes.Application.findByCategory(c.getId())">
                        <span class="badge"></span> @c.getName()
                    </a>
                    }
                </div>
            </div>

            <div>
                <div class="list-group-item main-color">
                    <h4>Publishers </h4>
                </div>
                <div id="group-2" class="list-group collapse in">
                    @for(pub<- publishers){
                    <a class="list-group-item" href="@routes.Application.findByPublisher(pub.getId())">
                        <span class="badge"></span> @pub.getName()
                    </a>
                    }
                </div>
            </div>

        </div>
        @if(products.isEmpty()) {
        <h2>No Games Available</h2>
        } else {
        <table class="table-fill">
            <thead>
            <tr>
                <th class="text-left">ID</th>
                <th class="text-left">Product Name</th>
                <th class="text-left">Amount</th>
                <th class="text-left">Price</th>
            </tr>
            </thead>
            <tbody class="table-hover">
            @for(p <- products) {

            <tr>
                <td class="text-left">@p.getId()</td>
                <td class="text-left"><a href="@routes.Application.show(p.getId())">@p.getName()</a></td>
                <td class="text-left">@p.getAmount()</td>
                <td class="text-left">@p.getPrice()</td>
            </tr>

            }
            </tbody>
        </table>
        }
    </div>

</div>
}